<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>

    <h1>URL Shortner</h1>
    <div>
        <form method="POST" action="/url">
            <label>Enter your url</label>
            <input type="text"
             name="Url"
             placeholder="http://example.com"/>
             <button type="submit">Generate</button>
        </form>
    </div>

    <!-- <% urls.forEach(url =>{ %>
        <li><%= url.shortid %></li>

    <%}) %> -->
</body>
</html>